<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../assets/layui/css/layui.css" />
<link rel="stylesheet" href="../css/formSelects-v4.css">
<script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
</head>
<body>
    <div class="layui-form-item">
    
    <div class="layui-inline">
      <label class="layui-form-label">小组名</label>
      <div class="layui-input-inline">
        <input type="text" readonly class="layui-input" value="${usergroupList.name}">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">项目名</label>
      <div class="layui-input-inline">
        <input type="text" readonly class="layui-input" value="${usergroupList.project}">
      </div>
    </div>
    </div>
    
    <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">成员</label>
      <div class="layui-input-inline" style="width:515px;">
		<#assign menuList=usergroupList.ids?split(',')>
      	<div>
			<select disabled="disabled" xm-select="selectId">
				<#list userList as r>
					<#if menuList?seq_contains("${r.id}")>
						<option value="${r.id}" selected="selected">${r.name}</option>
					</#if>
				</#list>
			</select>
		</div>
      </div>
    </div>
</div>
    
    <div class="layui-form-item">
    <div class="layui-inline">
		<label class="layui-form-label">文件路径</label>
		<div class="layui-input-inline" style="width: 520px;">
        	<input type="text" readonly style="width: 400px;" class="layui-input" value="${usergroupList.path}">
      </div>
    </div>
    </div>
    
    <div class="layui-form-item">
		<div class="layui-inline" style="margin: 10px;width: 150px;">
      <label class="layui-form-label">分数1</label>
      <div class="layui-input-block" style="width: 100px;">
        <input type="number" readonly class="layui-input" value="${usergroupList.point1}">
      </div>
    </div>
    <div class="layui-inline" style="margin: 10px;width: 150px;">
      <label class="layui-form-label">分数2</label>
      <div class="layui-input-block" style="width: 100px;">
        <input type="number" readonly class="layui-input" value="${usergroupList.point2}">
      </div>
    </div>
    <div class="layui-inline" style="margin: 10px;width: 150px;">
      <label class="layui-form-label">分数3</label>
      <div class="layui-input-block" style="width: 100px;">
        <input type="number" readonly class="layui-input" value="${usergroupList.point3}">
      </div>
    </div>
    <div class="layui-inline" style="margin: 10px;width: 150px;">
      <label class="layui-form-label">分数4</label>
      <div class="layui-input-block" style="width: 100px;">
        <input type="number" readonly class="layui-input" value="${usergroupList.point4}">
      </div>
    </div>
    <div class="layui-inline" style="margin: 10px;width: 150px;">
      <label class="layui-form-label">分数5</label>
      <div class="layui-input-block" style="width: 100px;">
        <input type="number" readonly class="layui-input" value="${usergroupList.point5}">
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-block" style="width: 515px;">
		<textarea readonly class="layui-textarea">${usergroupList.comments}</textarea>
    </div>
  </div>
  </div>

<script type="text/javascript" src="../js/formSelects-v4.js" charset="utf-8"></script>
<script type="text/javascript" src="../assets/layui/layui.js"></script>
<script type="text/javascript" src="../js/jquery-v3.2.1.js" charset="utf-8"></script>

<script type="text/javascript">
layui.use(['layer','formSelects'],function(){
	var layer=layui.layer,
	formSelects = layui.formSelects;
	formSelects.render('selectId');	
});
</script>

</body>
</html>