<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../assets/layui/css/layui.css" />
<script src="../assets/layui/layui.js"></script>
<script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
</head>
<body>


<div class="layui-form-item" style="margin-top: 30px;">
    <div class="layui-inline" style="margin-top: 20px;">
      <label class="layui-form-label">情况</label>
      <div class="layui-input-block" style="width: 190px;">
      <#if marketList??>
        <input type="text" class="layui-input info" value="${marketList.info}">
        <#else>
        <input type="text" class="layui-input info" value="">
        </#if>
      </div>
    </div>
    <div class="layui-inline" style="margin-top: 20px;">
      <label class="layui-form-label">日总结</label>
      <div class="layui-input-block" style="width: 190px;">
      <#if marketList??>
        <input type="text" class="layui-input comments" value="${marketList.comments}">
        <#else>
        <input type="text" class="layui-input comments" value="">
        </#if>
      </div>
    </div>
    
</div>

<div class="layui-input-block">
	<#if marketList??>
		<button class="layui-btn" onclick="editMarket();">立即提交</button>
		<input type="hidden" class="marketid" value="${marketList.id}">
	<#else>
		<button class="layui-btn" onclick="addMarket();">立即提交</button>
		</#if>
</div>
</body>
<script type="text/javascript">
layui.use('layer',function(){
	var layer=layui.layer;
});

//修改
function editMarket(){
	var info=$(".info").val();
	var id=$(".marketid").val();
	
	if(name==""){
		layer.msg('不能为空');
	}else{
		$.ajax({
			url:'update',
			type:'post',
			data:{info:info,id:id},
			success:function(res){
				if(res.status==1){
					var index=parent.layer.getFrameIndex(window.name);
					parent.layer.close(index);
					parent.location.reload();
				}else{
					layer.msg('失败');
				}
			}
		});
	}
}

</script>

</html>