<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header" style="text-align:center;">${noticeView.title}</div>
        <div class="layui-card-body">
          活动名称：${noticeView.aname}<br>
          通知内容：${noticeView.info}
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
         <br>
        </div>
      </div>
    </div>
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header" style="text-align:right;">${noticeView.date}</div>
        <div class="layui-card-body" style="text-align:right;">${noticeView.aoname}</div>
      </div>
    </div>
  </div>
</div> 
</body>
</html>